.cat-item {
  padding: 8px 5px;
  display: flex;
  flex: 1;
  color: gray;
}
.cat-item:hover {
  cursor: pointer;
  border-bottom: solid 1px #DEDEDE;
  box-sizing: broder-box;
  box-shadow: 0 2px 5px 0 rgba(171,171,171,.6);
}
.cat-item .image {
  flex-direction: row;
}
.cat-item .image img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.cat-item span.title, .link-item {
  color: #800000;
  text-decoration: none;
}
.cat-item a.title {
  color: #336699;
}

.cat-item .details {
  padding-left: 8px;
  text-overflow: elipsis;
}